/* Defining fundamental variables */
:root {
  /* overall color scheme */
  --color-primary: rgb(50, 50, 80);
  --color-accent: red;
  /* color scheme for text*/
  --color-heading-one: #fff;
  --color-heading-two-a: rgb(0, 195, 255);
  --color-heading-two-b: rgb(255, 0, 212);
  --color-heading-two-b-dim: rgb(236, 0, 197);
  --color-heading-three: rgb(134, 223, 175);
  --color-body: lightgrey;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3vw;
  background: linear-gradient(to right, black, rgb(30, 15, 80)), fixed;
}

/* Headers (Mobile) */
h1 {
  color: var(--color-heading-one);
  font-size: 10vw;
  margin-top: 30vh;
}

.glow {
  text-shadow: 0 0 5px #bbbbbb, 0 0 40px white;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
  padding-left: 10%;
}

.right {
  text-align: right;
  padding-right: 10%;
}

.experience {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 5vw;
  color: --color-heading-two-a;
}

.white {
  color: white;
}
.blue {
  color: var(--color-heading-two-a);
}

.pink {
  color: var(--color-heading-two-b);
}

h3 {
  font-size: 8vw;
  color: var(--color-heading-three);
  margin-bottom: 0;
  text-shadow: 0 0 20px var(--color-heading-three);
}

.eduh4 {
  padding-left: 16%;
}

h4 {
  font-size: 6vw;
  color: white;
  padding-top: none;
  margin: 1rem 0rem 1rem 0rem;
}

body {
  background-color: var(--color-primary);
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
}

/* Defining typography for computers */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 8vw;
    margin-top: 15vh;
  }
  h2 {
    font-size: 4vw;
  }
  body {
    font-size: 1.5vw;
  }

  /* Headers */

  h3 {
    font-size: 5vw;
  }
  h4 {
    font-size: 3vw;
  }
}

/* Defining the header (main div) */
.header {
  width: 100%;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 12px;
}

/* Badges */
.badge {
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--frontend {
  background: green;
}

.badge--backend {
  background: blue;
}

.badge--small {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

/* Icons */
.icon {
  width: 45px;
  height: 45px;
}
.icon--white {
  fill: white;
}
.icon--primary {
  fill: var(--color-heading-one);
}

.icon--secondary {
  fill: var(--color-heading-two-a);
}

.icon-container {
  background: var(--color-accent);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.btn {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 0 10px pink;
  background-color: var(--color-heading-two-b);
  margin-bottom: 1rem;
  color: rgb(50, 50, 80);
}

.btn:hover {
  background: rgb(245, 145, 220);
}

.btn--accent {
  background: blue;
  color: white;
}

.btn--light {
  background: var(--color-heading-two-b);
  color: var(--color-primary);
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 30px lightblue;
  overflow: hidden;
}

.card--secondary {
  box-shadow: 0 0 30px pink;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-heading-two-a);
  color: var(--color-primary);
  box-shadow: 0 0 10px blue;
}

.card__body {
  background: white;
  color: var(--color-primary);
  height: 100%;
}

.card--secondary .card__header {
  background: var(--color-heading-two-b);
  color: var(--color-primary);
}

/* Card container */
.card-container__name {
  text-align: center;
  font-size: 7vw;
}

.card-container {
  margin: 1rem;
  width: 90%;
  transition: transform 0.5s;
}

.card-container:hover {
  transform: scale(107%);
}
.traderauto {
  text-decoration: underline;
  color: var(--color-primary);
}

.traderauto:hover {
  color: var(--color-heading-two-b-dim);
}

@media screen and (min-width: 1024px) {
  .card-container {
    padding: 0;
    margin: 0%;
    width: 27%;
  }

  .card-container--center {
    padding: 0;
    width: 30%;
  }
  .card-container__name {
    font-size: 3vw;
  }
}

/* Three cards */

.three-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0vh;
  margin-bottom: 10rem;
}
/* Collapsible */

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
  margin-top: 0.5rem;
  padding: 0;
}

.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 3px 2px white;
  border-radius: 5px;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.7s;
}
/* Navigation bar */
.nav {
  display: flex;
  background: linear-gradient(to right, black, rgb(30, 15, 80)), fixed;
  justify-content: space-between;
  flex-wrap: wrap-revlisterse;
  z-index: 3;
}

.nav__list {
  width: 100%;
}

.nav__item {
  padding-left: 2rem;
  padding-top: 1rem;
  border-bottom: 0px solid #222;
  line-height: 2.5rem;
}

.nav__item > a {
  color: #aaa;
  text-shadow: 0 0 3px #aaa;
  font-size: small;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: white;
  text-shadow: 0 0 4px white;
}

.nav__toggler {
  opacity: 0.5;
  position: absolute;
  top: 8px;
  right: 16px;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav {
    display: flex;
    background-color: #111;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    position: fixed;
    align-items: center;
  }

  .nav__item {
    border: none;
    margin: 1.8rem;
  }

  .nav__item > a {
    font-size: 2vw;
    margin: 1rem 1rem 1rem 1rem;
  }

  .nav__list {
    margin-right: 4rem;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    max-height: 100vh;
    opacity: 1;
    padding: 0;
  }

  .collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
    margin-top: 2rem;
    padding: 0;
  }

  .collapsible__content {
    max-height: 100vh;
    opacity: 1;
    margin-top: 2rem;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .nav__item > a {
    font-size: 1.5vw;
    margin: 1rem 1rem 1rem 1rem;
  }
}

/* Lists */
.list {
  list-style: none;
  color: --color-heading-one;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  list-style-image: url(../images/tick.svg);
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}

/* Links (computers) */
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Creating the cursor for the text */
.typewrite > .wrap {
  border-right: 0.08em solid white;
}

/* Education */

.education__list {
  list-style: none;
}

.education__list__list {
  list-style: none;
  padding-left: 21%;
  text-shadow: 0 0 10px #fff;
}

.list-odd {
  color: rgb(184, 233, 252);
  text-shadow: 0 0 20px rgb(184, 233, 252);
}

.odd-list-item {
  color: rgb(184, 233, 252);
  text-shadow: 0 0 20px rgb(184, 233, 252);
  list-style: none;
}

@media screen and (max-width: 768px) {
  .education {
    margin-top: 14rem;
  }
  .eduh4 {
    padding-left: 5%;
  }
  .education__list__list {
    padding-left: 8%;
  }
}

/* Projects */

.header-inline {
  display: inline;
  margin: 0;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects__whole {
  width: 80%;
  max-height: 0;
  -webkit-transform: scale(0%);
  transform: scale(0%);
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1),
    max-height 50ms 0.2s linear;
  margin-top: 0.5rem;
  padding: 0;
}

.show {
  max-height: 100vh;
  transition: transform 0.7s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    max-height 50ms linear, width 0.2s linear, height 0.2s linear;
  -webkit-transform: scale(100%);
  transform: scale(100%);
}

.button-section {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.projects__beginning {
  justify-content: left;
}

.maintain-height {
  flex: 1;
}

.projects__button {
  display: inline;
  padding-left: 1.5vw;
  color: lightblue;
  text-shadow: 0 0 10px lightblue;
}

.projects__button:hover {
  color: var(--color-heading-two-b);
  text-shadow: 0 0 10px var(--color-heading-two-b);
  transition: all 0.3s;
  cursor: pointer;
}

.toggle {
  color: var(--color-heading-two-b);
  text-shadow: 0 0 10px var(--color-heading-two-b);
  transition: all 0.3s;
}

h5 {
  font-size: 3.5vw;
  color: lightblue;
  text-shadow: 0 0 13px lightblue;
  padding-top: none;
  margin: 1rem 0rem 1rem 0rem;
}

@media screen and (max-width: 768px) {
  h5 {
    font-size: 8vw;
  }
}

h6 {
  font-size: 3vw;
  color: white;
  text-shadow: 0 0 13px white;
  padding-top: none;
  margin: 1rem 0rem 1rem 0rem;
}

.projects__header__text,
.project-name {
  padding-left: 5%;
  display: inline;
}

.projects__body {
  border: 0.4vw solid white;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
  background: linear-gradient(to right, black, rgb(49, 15, 80)), fixed;
  margin-bottom: 2vh;
}

.projects__body__list {
  list-style: none;
  padding-left: 4%;
  padding-bottom: 1%;
  text-shadow: 0 0 10px #fff;
  font-size: 80%;
}

.list-item-two {
  padding-left: 6%;
}

.list-item-three {
  padding-left: 8%;
}

.list-item-four {
  padding-left: 10%;
}

.projects-list-odd {
  color: var(--color-heading-two-b-dim);
  text-shadow: 0 0 10px var(--color-heading-two-b-dim);
}

.github-icon {
  width: 3vw;
  height: 3vw;
}

.github-link {
  display: inline-flex;
  align-items: center;
}

.center-github {
  display: inline-flex;
  vertical-align: text-bottom;
}

/* Skills Grid */
.skills-header {
  margin-top: 2rem;
}

.skills {
  display: flex;
  justify-content: center;
}

.skills__grid {
  display: grid;
  grid-template-rows: repeat(3, 36vh);
  grid-template-columns: 40vw 40vw;
  box-shadow: 0 0 30px white;
  grid-template-areas:
    "cd cd"
    "awd dbt"
    "bsn music";
}

.mobile-icon {
  width: 3vw;
  height: 3vw;
}

.skills__box {
  border: 6px solid white;
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0 -6px -6px 0;
}

/* Coding grid */
.coding {
  grid-area: cd;
}

.grid__title {
  background-color: black;
  z-index: 1;
  transition: all 0.3s;
}

.grid__title:hover {
  opacity: 0;
}

.grid__title__header {
  text-align: center;
  padding-top: 10vh;
}

.grid__content {
  background: black;
  font-size: 1.4vw;
}

.skills__list {
  padding-top: 5vh;
  padding-left: 5rem;
}

.skills__list__item {
  list-style-image: url(../images/chevron-right.svg);
  font-size: 1 rem;
  color: white;
  text-shadow: 0px 0px 3px white;
  padding-top: 10px;
  padding-left: 0.5rem;
}

.red {
  color: red;
  text-shadow: 0 0 10px red;
}

.bronze {
  color: rgb(133, 83, 34);
  text-shadow: 0 0 10px rgb(160, 113, 66);
}

.silver {
  color: silver;
  text-shadow: 0 0 10px silver;
}

.gold {
  color: gold;
  text-shadow: 0 0 10px gold;
}

/* Music Grid */
.music {
  grid-area: music;
}

/* Business Grid */
.business {
  grid-area: bsn;
}

/* Debate Grid */
.debate {
  grid-area: dbt;
}

/* Awards grid */
.awards {
  grid-area: awd;
}

@media screen and (max-width: 768px) {
  .skills__grid {
    grid-template-rows: repeat(5, 36vh);
    grid-template-columns: 80vw;
    box-shadow: 0 0 30px white;
    grid-template-areas:
      "cd"
      "awd"
      "dbt"
      "bsn"
      "music";
  }
  .mobile-icon {
    height: 7vw;
    width: 7vw;
  }

  .grid__content {
    font-size: 3.5vw;
  }

  .coding {
    font-size: 2.8vw;
  }
  .skills__list__item {
    padding-left: 0rem;
  }
  .skills__list {
    padding-left: 2.5rem;
  }
}
