<div class="three-cards">
  <div class="card-container">
    <div class="card card--primary">
      <header class="card__header">
        <h3 class="card-container__name">Entry</h3>
      </header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
        accusantium?
      </div>
    </div>
  </div>
  <div class="card-container card-container--center">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="card-container__name">Entry</h3>
      </header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
        accusantium?
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card card--primary">
      <header class="card__header">
        <h3 class="card-container__name">Entry</h3>
      </header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
        accusantium?
      </div>
    </div>
  </div>
</div>
